body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  height: 100vh;
}

.background-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: radial-gradient(#1c1c1c 1px, transparent 1px);
  background-size: 50px 50px;
}

.card {
  background: linear-gradient(135deg, #141414, #1f1f1f);
  border: 1px solid #2a2a2a;
  border-radius: 14px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #c8b8ff;
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  color: #ccc;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  background: #222;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

button {
  width: 100%;
  background-color: #c8b8ff;
  border: none;
  padding: 12px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #a895ff;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup span {
  color: #c8b8ff;
  cursor: pointer;
  text-decoration: underline;
}

.dummy-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.8;
}
.home-btn {
  width: 100%;
  padding: 15px;
  background-color: #1a1a1a;
  color: white;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.home-btn:hover {
  background-color: #292929;
}

.timer-box {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.source-box {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.source-box:hover {
  transform: scale(1.03);
  background-color: #222;
}

.avatar {
  border-radius: 50%;
  background-color: #0f0f0f;
  color:#c8b8ff
}